<!DOCTYPE html>
<html lang="en">
<head>
    <title>Woah coolio page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  <!-- Commenttt -->
  <p>Hello Valid HTML, I'm Dad</p>

  <h3>top 3 expressions</h3>
  <ul>
    <li>woah</li>
    <li>ooh</li>
    <li>skrrtt</li>
  </ul>

<div id="div-1">
  <span>Div 1</span>
</div>
<div id="div-2">
  <span>Div 2</span>
</div>
<p>From internet</p>
<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/is_my_cat_normal_slideshow/1800x1200_is_my_cat_normal_slideshow.jpg">
<p>From computer</p>
<img src="static/cool-photo.jpeg">
<div class="">
  <span>I can use &lt; &gt;! (with HTML entities)</span>
</div>

</div>

</body>
</html>
