:root{
  /* CSS HEX */
  --black-text: #2E282A;
  --light-background: #EBF3FE;
  --main-header: #3B28CC;
  --light-header: #87BFFF;
  --slate-gray: #6b717eff;
  --nadeshiko-pink: #efaac4ff;
  --pink: #ffc4d1ff;
  --misty-rose: #ffe8e1ff;
  --alabaster: #d4dccdff;
}


/* 1 */
*{
  font-family: 'Koh Santepheap', cursive;
}

/* 2 */
#body-header-wrapper{
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

/* 3 */
#body-header{
  font-weight: bold;

}

/* 4 */
#body-subheader{
  font-weight: lighter;
  font-size: 15px;
}

/* 5 */
.carousel-item{
  height: 500px;
  border-radius: 10px;

}

/* 6 */
tr > th{
  background-color: var(--light-header);
}

/* 7 */
table{
    padding: 10px;
    border: black solid 2px;
    margin: 5px;
    border-radius: 10px;
}

/* 8 */
video{
  margin-left: 20px;
  padding: 5px;
  border: black solid 2px;
  border-radius: 5px;
}

/* 9 */
h2:not(#body-header){
  background: var(--light-header);
  padding: 5px;
}

/* 10 */

body {
  /* background-color: var(--light-background) !important; */
}

/* 11 */
nav{
  background-color: var(--main-header);
}

/* 12 */
.nav-text{
  color: white !important;
}
