{# {% for iteration in range(0,10) %}
  {% if iteration < 5 %}
  <p>hello {{iteration}}</p>
  {% else %}
  <p>wow so small {{iteration}}</p>
  {% endif %}
{% endfor %} #}

{% extends "based.html.j2" %}


{% block body %}
<p>variable: {{variablewww}}</p>

<p>yoooo this is niceeee</p>

<a href="factorial">calculate some factorials!</a>
{% endblock %}
